<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Location</th>
      <th scope="col">Hours per Week</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstName %></td>
        <td><%= employee.lastName %></td>
        <td><%= employee.location %></td>
        <td><%= employee.workHours %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>


