<p id="notice"><%= notice %></p>

<div class="card mb-4">
  <div class="card-header">
    Employee Record
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @employee.firstName %> <%= @employee.lastName %></h5>
    <p class="card-text">Location: <%= @employee.location %></p>
    <p class="card-text">Hours per Week: <%= @employee.workHours %></p>
    <p class="card-text">Max Entitlement: <%= @employee.entitlement %></p>
    
    <%= link_to 'Edit Employee Details', edit_employee_path(@employee), class: "btn btn-outline-info" %> 
    
</div>

</div>


<div class="p-3 mb-2 bg-info text-white mt-4"><strong>Absence Record</strong></div>

<table class="table table-striped mt-4">

  <thead>
    <tr>
      <th scope="col"><strong>IN</strong></th>
      <th scope="col"><strong>Start Date</strong></th>
      <th scope="col"><strong>End Date</strong></th>
      <th scope="col"><strong>Full Pay Days</strong></th>
      <th scope="col"><strong>Half Pay Days</strong></th>
      <th scope="col"><strong>Description</strong></th>
      <th colspan="2"><strong>Actions</strong></td>
    </tr> 
  </thead>
  <tbody>
    <% @absence.each do |absence| %>
      <tr>
        <th scope="row"><%= absence.instance_no %></th>
        <th scope="row"><%= absence.date %></th>
        <th scope="row"><%= absence.end_date %></th>
        <th scope="row"><%= absence.full_pay %></th>
        <th scope="row"><%= absence.half_pay %></th>
        <th scope="row"><%= absence.description %></th>
        <td><%= link_to 'Edit', edit_absence_path(absence), class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Delete', absence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Absence', new_employee_absence_path(employee_id: @employee.id), class: "btn btn-outline-info" %><br>
<%= link_to 'Absence Calculator', :controller => :absences, :action => :index, :employee_id => @employee.id %>

<br>

<div class="p-3 mb-2 bg-secondary text-white mt-4"><strong>Totals</strong></div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col"><strong>Total Instances</strong></th>
      <th scope="col"><strong>Total Full Days</strong></th>
      <th scope="col"><strong>Total Half Days</strong></th>
      <th scope="col"><strong>Total Days</strong></th>
    </tr> 
  </thead>
  <tbody>
      <tr>
        <th scope="row"><%= @absence.distinct.count(:instance_no) %></th>
        <th scope="row"><%= @absence.sum(:full_pay) %></th>
        <th scope="row"><%= @absence.sum(:half_pay) %></th>
        <th scope="row"><%= @absence.sum(:full_pay) + @absence.sum(:half_pay) %></th>
      </tr>
  </tbody>
</table>
  
  <br>  
  
  <%= link_to 'Back to Employee List', employees_path, class: "btn btn-dark mb-4" %>
  
  <br>



