<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "SLM App", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Dashboard", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Employees", employees_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Report", absences_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Documentation", documents_path, class: "nav-link" %>
      </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle user-name" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.full_name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %>
          <% if current_user.admin? %>
            <%= link_to 'Add Message', new_message_path, class: "dropdown-item" %>
            <%= link_to 'User List', users_index_path, class: "dropdown-item" %>
          <% end %>
          <div class="dropdown-divider"></div>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
      </li>
    
    </ul>

  </div>
<% end %>
</nav>