<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="card-body">
        <h4 class="card-title">Notice Board           
          <% if current_user.admin %>
            <%= link_to 'New Message', new_message_path, class: "btn btn-primary" %>
          <% end %>
        </h4>
        <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th><strong>Subject</strong></th>
            <th><strong>Message</strong></th>
            <th><strong>User</strong></th>
            <th><strong>Created At</strong></th>
            <% if current_user.admin %>
              <th colspan="2"></th>
            <% end %>
          </tr>
        </thead>
      
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td scope="row"><%= message.title %></td>
              <td><%= message.body %></td>
              <td><%= message.user.firstName %> <%= message.user.lastName %></td>
              <td><%= message.created_at.strftime("%T - %d/%m/%Y") %></td>
              <% if current_user.admin %>
                <td><%= link_to 'Edit', edit_message_path(message), class: "btn btn-outline-secondary btn-sm" %></td>
                <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="mt-auto">
        <%== pagy_bootstrap_nav(@pagy).html_safe if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
</div>