
<div class="row">
  <div class="col-9">
    
    <%= render 'shared/errors', obj: @document %>
    
    <%= form_with(model: document) do |form| %>

      <div class="form-group col-md-6">
        <%= form.label :name, "File Name" %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    
      <div class="form-group col-md-9">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
    
      <div class="form-group col-md-6">
        <%= form.file_field :file %>
      </div>
    
      <div class="form-group col-md-6">
        <%= form.submit %>
      </div>
      
      <div class="col-md-6">
        <%= link_to t('.back'), :back, class: "btn btn-outline-secondary mt-4 mb-4" %>
      </div>
    <% end %>
  </div>
</div>