<div class="mb-4">
  <h1>Sick Leave Documentation 

  <% if current_user.admin %>
    <%= link_to 'New Document', new_document_path, class: "btn btn-primary mb-4" %>
  <% end %>

  </h1>
</div>

<% @documents.each do |document| %>

  <div class="card mb-4">
    <div class="card-header">
      <h4><%= document.name %></h4>
    </div>
    <div class="card-body">
      <p class="card-text"><%= document.description %></p>
      <%= link_to 'Download File', document.file, class: "btn btn-primary" %>
      <% if current_user.admin %>
        <%= link_to 'Edit', edit_document_path(document), class: "btn btn-outline-secondary" %>
        <%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>

  
<% end %>