<%= form_with(model: [employee, absence]) do |form| %>
  <% if absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
        <% absence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :instance_no %>
    <%= form.text_area :instance_no %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>
  
  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :full_pay %>
    <%= form.text_area :full_pay %>
  </div>

  <div class="field">
    <%= form.label :half_pay %>
    <%= form.text_area :half_pay %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.hidden_field :employee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
