<p id="notice"><%= notice %></p>


<h1>Absences</h1>

<%= search_form_for @q do |f| %>

<h3>Search Records by End Date</h3>

<br>
  
  From: <%= f.date_select :end_date_gteq %><br><br>
  To: <%= f.date_select :end_date_lteq %><br>
  <%= f.text_field :employee_id_eq %>

  <%= f.submit "Search", class: "btn btn-info mt-4" %>
  
<% end %>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col"><%= sort_link(@q, :date , 'Start Date') %></th>
      <th scope="col"><%= sort_link(@q, :end_date, 'End Date') %></th>
      <th scope="col"><%= sort_link(@q, :full_pay, 'Full Pay') %></th>
      <th scope="col"><%= sort_link(@q, :half_pay, 'Half Pay') %></th>
      <th scope="col"><%= sort_link(@q, :description, 'Description') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= absence.employee_id %></td>
        <td><%= absence.date %></td>
        <td><%= absence.end_date %></td>
        <td><%= absence.full_pay %></td>
        <td><%= absence.half_pay %></td>
        <td colspan="2"><%= absence.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<hr>

<div class="p-3 mb-2 bg-secondary text-white mt-4"><strong>Totals</strong></div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col"><strong>Total Full Days</strong></th>
      <th scope="col"><strong>Total Half Days</strong></th>
      <th scope="col"><strong>Total Days</strong></th>
    </tr> 
  </thead>
  <tbody>
      <tr>
        <th scope="row"><%= @absences.sum(:full_pay) %></th>
        <th scope="row"><%= @absences.sum(:half_pay) %></th>
        <th scope="row"><%= @absences.sum(:full_pay) + @absences.sum(:half_pay) %></th>
      </tr>
  </tbody>
</table>


<%= link_to 'Back to Employee List', employees_path, class: "btn btn-dark mb-4" %>
