<p id="notice"><%= notice %></p>


<h1>Absence Report</h1>

<br>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Sick Leave Record</h5>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Instances:</strong> <%= @absences.distinct.count(:instance_no) %></p>
        <p class="card-text"><strong>Days at Full Pay:</strong> <%= @absences.sum(:full_pay) %></p>
        <p class="card-text"><strong>Days at Half Pay:</strong> <%= @absences.sum(:half_pay) %></p>
        <p class="card-text"><strong>Days:</strong> <%= @absences.sum(:full_pay) + @absences.sum(:half_pay) %></p>
      </div> 
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Filter Record by End Date</h5>
      </div>
    <div class="card-body">
        <%= search_form_for @q do |f| %>
          <p>From: <%= f.date_field :end_date_gteq, class: 'form-control input-sm', 'datepicker' => true %></p>
          <p>To: <%= f.date_field :end_date_lteq, class: 'form-control input-sm', 'datepicker' => true %></p>
          <%= f.submit "Search", class: "btn btn-outline-secondary btn-block" %>
        <% end %>
      </div> 
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Instances Entered</h5>
      </div>
    <%= line_chart @absences.group_by_day(:created_at).count %>
    </div>
  </div>
</div>


<div class="p-3 mb-2 bg-secondary text-white mt-4"><h5>Absence Records</h5></div>
<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :date , 'Start Date') %></th>
      <th scope="col"><%= sort_link(@q, :end_date, 'End Date') %></th>
      <th scope="col"><%= sort_link(@q, :full_pay, 'Full Pay') %></th>
      <th scope="col"><%= sort_link(@q, :half_pay, 'Half Pay') %></th>
      <th colspan="3"><%= sort_link(@q, :description, 'Description') %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= absence.date.strftime("%d/%m/%Y") %></td>
        <td><%= absence.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= absence.full_pay %></td>
        <td><%= absence.half_pay %></td>
        <td colspan="3"><%= absence.description %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy).html_safe %>


