<p id="notice"><%= notice %></p>


<h1>Absences</h1>

<%= search_form_for @q do |f| %>

<h3>Search Records by End Date</h3>

<p>Search records of <%= @employee.firstName %> <%= @employee.lastName %></p>
<br>
  From: <%= f.date_select :end_date_gteq %><br><br>
  To: <%= f.date_select :end_date_lteq %><br>

  <%= f.submit "Search", class: "btn btn-info mt-4" %>
  
<% end %>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col"><%= sort_link(@q, :date , 'Start Date') %></th>
      <th scope="col"><%= sort_link(@q, :end_date, 'End Date') %></th>
      <th scope="col"><%= sort_link(@q, :full_pay, 'Full Pay') %></th>
      <th scope="col"><%= sort_link(@q, :half_pay, 'Half Pay') %></th>
      <th scope="col"><%= sort_link(@q, :description, 'Description') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= absence.employee_id %></td>
        <td><%= absence.date %></td>
        <td><%= absence.end_date %></td>
        <td><%= absence.full_pay %></td>
        <td><%= absence.half_pay %></td>
        <td><%= absence.description %></td>
        <td><%= link_to 'Edit', edit_absence_path(absence), class: "btn btn-outline-info" %></td>
        <td><%= link_to 'Delete', absence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Absence', new_absence_path %>
